.mainWrapper {
  animation: fadeIn 0.5s ease-in;
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.mainWrapper.transitioning {
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}